<p-dataView [value]="diseases" [lazy]="true" (onLazyLoad)="loadData($event)">
  <ng-template let-disease pTemplate="body">
    <div style="padding:4px" class="ui-g-12 ui-md-3">
      <p-panel [header]="disease.title" [style]="{'text-align':'center'}">
        <hr class="ui-widget-content" style="border-top:0">
        <i class="fa fa-search" (click)="selectedDisease($event, disease, index)" style="cursor:pointer"></i>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Disease Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          (onAfterHide)="onDialogHide()" (onShow)="onDetailsShow(selectedDiseases)">
  <ng-template pTemplate="content">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedDiseases"
         style="font-size:16px;text-align:center;padding:20px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12" style="text-align:center">{{selectedDiseases.details | async}}</div>
      </div>
    </div>
  </ng-template>
</p-dialog>




