<p-dataGrid [value]="eventDet" [lazy]="true" (onLazyLoad)="loadData($event)">
  <ng-template let-event pTemplate="body">
    <div style="padding:4px" class="ui-g-12 ui-md-3">
      <p-panel [header]="event.title" [style]="{'text-align':'center'}">
        <hr class="ui-widget-content" style="border-top:0">
        <i class="fa fa-search" (click)="selectedEvent($event, event, index)" style="cursor:pointer"></i>
      </p-panel>
    </div>
  </ng-template>
</p-dataGrid>

<prasun-dialog [header]="dialogText" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
               (onAfterHide)="onDialogHide()" (onShow)="onDetailsShow(selectedEvents)">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g" *ngIf="selectedEvents"
       style="font-size:16px;text-align:center;padding:20px">
    <div class="ui-g-12" *ngIf="selectedEvents.imgUrl != ''">
      <img [src]="selectedEvents.imgUrl"/>
    </div>
    <br/>
    <div class="ui-grid-col-12" style="text-align:left" [innerHtml]="selectedEvents.details"></div>
  </div>
</prasun-dialog>
