<div #container [ngClass]="{'ui-sidebar ui-widget ui-widget-content ui-shadow':true, 'ui-sidebar-active': visible,
'ui-sidebar-left': (position === 'left'), 'ui-sidebar-right': (position === 'right'),
'ui-sidebar-top': (position === 'top'), 'ui-sidebar-bottom': (position === 'bottom'),
'ui-sidebar-full': fullScreen}"
     [@panelState]="visible ? 'visible' : 'hidden'" [ngStyle]="style" [class]="styleClass">
  <a [ngClass]="{'ui-sidebar-close ui-corner-all':true}" href="#" role="button" (click)="close($event)">
    <span class="fa fa-fw fa-close"></span>
  </a>
  <ng-content></ng-content>
</div>
