<p-accordion [multiple]="true" [lazy]="true" (onOpen)="onTabOpen($event)">
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_1.jpg" style="height: 40px;" alt="UttarBanga"/>
    </p-header>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_2.jpg" style="height: 40px;" alt="AnandaBazarPatrika"/>
    </p-header>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_4.jpg" style="height: 40px;" alt="Aajkal"/>
    </p-header>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_5.JPG" style="height: 40px;" alt="BharatDarshan"/>
    </p-header>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_6.jpg" style="height: 40px;" alt="BharatDarshan"/>
    </p-header>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_7.JPG" style="height: 40px;" alt="BharatDarshan"/>
    </p-header>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_8.JPG" style="height: 40px;" alt="BharatDarshan"/>
    </p-header>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      <img src="http://sumitacancersociety.org/newspaper/Header_9.jpg" style="height: 40px;" alt="BharatDarshan"/>
    </p-header>
  </p-accordionTab>
</p-accordion>
