<div class="ui-g">
  <div class="ui-lg-1 hide-for-small-only"> &nbsp;</div>
  <div class="ui-lg-10 ui-sm-12">

    <div class="text-justify " [innerHTML]="mainText"
         style="background-color: #7d73cc; border-radius: 10px; padding: 10px;">

    </div>

    <div class="ui-g-6 ui-sm-12" style="overflow:hidden">
      <prasun-galleria [images]="images" [panelWidth]="width" [panelHeight]="height"
                       (onImageClicked)="currentImage($event)" class='ui-g-6 ui-sm-12'
                       [showCaption]="true" style=""></prasun-galleria>
    </div>

    <div class="ui-g-6 ui-sm-12" style="overflow:hidden">
      <div class="ui-g-12">
        <div class="ui-g-6">
          <label>Size <select>
            <option value="husker">Small</option>
            <option value="starbuck">Medium</option>
            <option value="hotdog">Large</option>
            <option value="apollo">Yeti</option>
          </select>
          </label>
        </div>
        <div class="ui-g-3">
          <div class="columns">
            <label for="middle-label">Quantity</label>
          </div>
          <div class="columns">
            <input type="text" id="middle-label" placeholder="One fish two fish">
          </div>
        </div>
        <div class="ui-g-3">
          <a href="#" class="button expanded">Buy Now</a>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g">
          <div class="small secondary expanded button-group">
            <a class="button">Facebook</a> <a class="button">Twitter</a> <a
            class="button">Yo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-lg-1 hide-for-small-only"> &nbsp;</div>
  </div>
</div>
